<div id="background-div">

  <h2>Envio de mensagens:</h2>

  <% if flash[:success] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:success] %>
    </div>
  <% end %>

  <% if flash[:error] %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:error] %>
    </div>
  <% end %>

  <%= render partial: "form" %>

  <h2>Lista de mensagens: </h2>

  <%= render partial: "list" %>

</div>

